@media (max-width: 1355px) {

    //--------------------------------------------------------------------------
    //START-----------------CALCULATOR------------------------------------------
    //--------------------------------------------------------------------------
    .calculator{
        &::after{
            width: 264px;
            height: 306px;
            top: 23px;
            
        }
    }

    //--------------------------------------------------------------------------
    //END-------------------CALCULATOR------------------------------------------
    //--------------------------------------------------------------------------


}

@media (max-width: 1220px) {

    //--------------------------------------------------------------------------
    //START-----------------HEADER----------------------------------------------
    //--------------------------------------------------------------------------

    .header {
        padding-top: 10px;

        .header__info {
            max-width: 670px;
        }

        &__logo-img {
            max-width: 85px;
        }

        .menu {
            max-width: 470px;
        }

        .menu__link {
            font-size: 14px;
        }

        .header__phone-link {
            font-size: 14px;
            // letter-spacing: -0.1em;
        }

        .header__bascet-link {
            width: 25px;
            height: 25px;
        }

        .header__bascet-number {
            width: 25px;
            height: 25px;
            font-size: 15px;
            top: -8px;
            right: -10px;
        }
    }

    //--------------------------------------------------------------------------
    //END-------------------HEADER----------------------------------------------
    //--------------------------------------------------------------------------


    //--------------------------------------------------------------------------
    //START-----------------PREVIEW---------------------------------------------
    //--------------------------------------------------------------------------

    .preview {

        &::before {
            width: 336px;
            height: 365px;
        }

        &__item-box {
            bottom: 25px;
        }

        &__item-text {
            font-size: 15px;
            line-height: 22px;
        }

        &__button {
            font-size: 12px;
            line-height: 14px;
            padding: 22px 64px;

        }
    }

    //--------------------------------------------------------------------------
    //END-------------------PREVIEW---------------------------------------------
    //--------------------------------------------------------------------------
}



@media (max-width: 940px) {
    //--------------------------------------------------------------------------
    //START-----------------PREVIEW---------------------------------------------
    //--------------------------------------------------------------------------

    .preview {
        &::before {
            width: 255px;
            height: 278px;
            bottom: -100px;
        }

        &__item-text {
            font-size: 13px;
            line-height: 19px;
        }

        &__item-icon {
            width: 27px;
            height: 27px;
        }

        &__item-arrow {
            width: 17px;
        }

        &__button {
            font-size: 12px;
            line-height: 14px;
            padding: 18px 42px;

        }
    }

    //--------------------------------------------------------------------------
    //END-------------------PREVIEW---------------------------------------------
    //--------------------------------------------------------------------------      
}





@media (max-width: 890px) {


    //--------------------------------------------------------------------------
    //START-----------------HEADER----------------------------------------------
    //--------------------------------------------------------------------------

    .header {

        .header__info {
            max-width: 210px;
        }

        .menu {
            width: 26px;
            order: 1;
            margin-top: 4px;
        }

        .menu__list {
            display: none;
        }

        .menu__btn {
            display: block;
        }

    }

    //--------------------------------------------------------------------------
    //END-------------------HEADER----------------------------------------------
    //--------------------------------------------------------------------------
}



@media (max-width: 750px) {
    //--------------------------------------------------------------------------
    //START-----------------PREVIEW---------------------------------------------
    //--------------------------------------------------------------------------

    .preview {

        &__items {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__item {
            max-width: 357px;
            margin-bottom: 20px;
        }

        &__item-btn {
            align-self: center;
            margin-top: 10px;
        }


        &__item-third {
            align-self: center;
        }


    }

    //--------------------------------------------------------------------------
    //END-------------------PREVIEW---------------------------------------------
    //--------------------------------------------------------------------------      
}



@media (max-width: 420px) {
    //--------------------------------------------------------------------------
    //START-----------------HEADER----------------------------------------------
    //--------------------------------------------------------------------------

    .container {
        padding: 10px;
    }

    .header {

        .header__info {
            max-width: 200px;
        }

        &__logo-img {
            max-width: 75px;
        }

        .menu {
            &__btn {
                max-width: 23px;
            }

            &__btn-line {
                max-width: 23px;

                &::before,
                &::after {
                    width: 23px;
                }
            }
        }

        .header__phone {
            margin-right: 0;
        }

        .header__bascet-link {
            width: 23px;
            height: 23px;
        }

        .header__bascet-number {
            width: 20px;
            height: 20px;
            font-size: 13px;
            top: -8px;
            right: -10px;
        }
    }

    //--------------------------------------------------------------------------
    //END-------------------HEADER----------------------------------------------
    //--------------------------------------------------------------------------
}