@media (max-width: 1220px) {



    //--------------------------------------------------------------------------
    //START-----------------HEADER----------------------------------------------
    //--------------------------------------------------------------------------

    .header {
        padding-top: 10px;

        .header__info {
            max-width: 650px;
        }

        &__logo-img {
            max-width: 85px;
        }

        .menu {
            max-width: 470px;
        }

        .menu__link {
            font-size: 14px;
        }

        .header__phone-link {
            font-size: 14px;
            letter-spacing: -0.1em;
        }

        .header__bascet-link {
            width: 30px;
        }

        .header__bascet-number {
            width: 25px;
            height: 25px;
            font-size: 15px;
        }
    }

    //--------------------------------------------------------------------------
    //END-------------------HEADER----------------------------------------------
    //--------------------------------------------------------------------------
}