// @import 'vars';
@import 'global';
@import 'fonts';
@import 'vars';
@import 'animation';


// @import 'fonts';

//--------------------------------------------------------------------------
//START-----------------HEADER----------------------------------------------
//--------------------------------------------------------------------------

.header {
    background-image: url(../images/header-slider/slide-1/slide-1-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 153px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 890px;
        width: 100%;
    }

    &__phone {
        margin: 0 5px;
    }

    &__phone-link {
        @extend %maler-main;
        transition: .5s;
        letter-spacing: 0.02em;

        &:hover {
            color: #3FFFFF;
            text-shadow: 0px 4px 9px #07A9D2;
        }
    }

    &__bascet {
        position: relative;
        margin-right: 8px;
    }

    &__bascet-link{
        display: flex;
    }

    &__bascet-number {
        position: absolute;
        background-color: #3FFFFF;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -15px;
        right: -19px;
        @extend %maler-main;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.01em;
    }

    &__bascet-img {
        fill: #fff;
        transition: .5s;

        &:hover {
            fill: #3FFFFF;
        }
    }

    &__slider {
        margin-top: 76px;
    }

    &__slider-inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__slider-text {
        max-width: 645px;
        width: 100%;
    }

    &__slider-suptitle {
        font-size: 18px;
        line-height: 27px;
        @extend %clother-bold;
        text-transform: uppercase;

    }

    &__slider-title {
        font-size: 55px;
        line-height: 62px;
        margin: 29px 0 41px;
        position: relative;
        @extend %maler-main;
        position: relative;
        text-transform: uppercase;
        z-index: 0;
        margin-left: 50px;

        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            transition: .5s;
            width: 504px;
            height: 92px;
            background-image: url(../images/header-slider/slide-1/first-title-bg.png);
            top: -22px;
            left: -50px;
            z-index: -1;
        }
    }

    &__slider-subtitle {
        max-width: 488px;
        @extend %mont-regular;
        font-size: 17px;
        line-height: 25px;
    }


    .slider-item__stickers {
        margin-top: 50px;
        margin-right: 120px;
    }

    .slider-box {
        position: relative;
    }

    .slider-box__image {
        max-width: 289px;
    }

    .slider-box__item {
        position: absolute;
    }

    .slider-box__item-text {
        position: absolute;
        padding: 18px 42px 18px 20px;
        width: 210px;
        background-color: rgba(255, 255, 255, 0.88);
        border-radius: 10px;
        @extend %mont-regular;
        font-style: normal;
        letter-spacing: 0.01em;
        color: #464646;
        font-size: 15px;
        line-height: 22px;
        transition: .5s ease-in-out;
        opacity: 0;
        transform: translateY(-20px);
    }

    .slider-box__point {
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.89);
        position: relative;
        cursor: pointer;

        &:hover {
            .slider-box__point::before {
                animation: none;
            }

        }

        &::before {
            content: '';
            position: absolute;
            left: 12px;
            top: 12px;
            width: 11px;
            height: 11px;
            background-color: #010101;
            border-radius: 50%;
            transition: .5s ease-in-out;
            box-shadow: 0 0 0 rgba(10, 10, 10, 0.4);
            animation: pulse 2s infinite;

            &:hover {
                animation: none;
            }
        }
    }

    .slider-box__item:hover {
        .slider-box__point::before {
            animation: none;
        }
    }


    .item-point1 {
        top: 72px;
        left: 54px;

        .slider-box__item-text {
            top: 0;
            left: -233px;
        }
    }


    .item-point2 {
        top: 164px;
        right: 110px;

        .slider-box__item-text {
            top: 0;
            right: -233px;
        }
    }

    .item-point3 {
        top: 244px;
        left: 95px;

        .slider-box__item-text {
            top: 0;
            left: -233px;
        }
    }

    .slider-box__item.item-point--active {
        .slider-box__item-text {
            opacity: 1;
            transform: translateY(0);
        }

        .slider-box__point::before {
            transition: .5s;
            animation: none;
            transform: scale(1.5);
        }
    }

    &__slider-buttons {
        max-width: 480px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .slider-btn+.slider-btn {
        margin-left: 50px;
    }

    .slider-btn__link {
        @extend %maler-main;
        color: #fff;
        width: 229px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        transition: .5s;

        &:hover {
            color: #3FFFFF;
            border-color: #3FFFFF;
        }
    }


    .slider-nav {
        margin: 0 auto;
        margin-top: 32px;
        max-width: 200px;
        margin: 0 auto;

        div {
            transform: none !important;
        }

        .slick-list{
            margin-top: 35px;
        }

        .slick-track {
            padding: 10px 0;
            margin-left: 25px;
            // border: 1px solid red;
        }
    }

    .slider-nav__item-img {
        transition: .5s;
    }

    .slider-nav__item.slick-current {
        .slider-nav__item-img {
            transform: scale(1.5);
        }
    }

}


//--------------------------------------------------------------------------
//END-----------------HEADER------------------------------------------------
//--------------------------------------------------------------------------



//--------------------------------------------------------------------------
//START-----------------PREVIEW---------------------------------------------
//--------------------------------------------------------------------------
.preview {
    padding-top: 161px;
    position: relative;

    &::before {
        content: '';
        width: 510px;
        height: 528px;
        background-image: url(../images/preview/preview-item-bg-3.png);
        background-position: center right;
        background-size: cover;
        position: absolute;
        z-index: -1;
        bottom: -230px;
        left: 0;
        transition: .5s;
    }

    &__items {
        display: grid;
        grid-template-columns: 558/1400*100% 420/1400*100% 420/1400*100%;
        // grid-template-rows: 1fr 1fr;
        // grid-column-gap: 10px; // отступы между колонками
        grid-auto-rows: minmax(100px, auto);

    }


    &__item {
        position: relative;
        line-height: 0;

        &:hover {
            .preview__item-icon {
                background-color: #3FFFFF;
            }

            .preview__item-text {
                color: #3FFFFF;
            }
        }
    }


    &__item-first {
        &::before {
            content: url(../images/preview/preview-item-bg-1.png);
            position: absolute;
            right: -54px;
            top: 231px;
            z-index: -1;
        }

        &::after {
            content: url(../images/preview/preview-item-bg-2.png);
            position: absolute;
            right: -74px;
            top: 394px;
            z-index: -1;
        }
    }

    &__item-link {
        line-height: 0;
    }

    &__item-img {
        border-radius: 23px;

    }

    &__item-third {
        align-self: end;
    }

    &__item-btn {
        // height: 378px;
        align-self: end;
        display: flex;
        justify-content: end;

    }

    &__button {
        padding: 30px 70px; 
        border: 1px solid #fff;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        font-size: 18px;
        line-height: 22px;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: end;
        @extend %maler-main;
        transition: .5s ease-in-out;

        &:hover {
            color: #3FFFFF;
            border-color: #3FFFFF;
        }
    }

    &__item-box {
        position: absolute;
        display: flex;
        padding-right: 20px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        left: 8px;
        bottom: 54px;
    }

  
    &__item-text {
        max-width: 386px;
        width: 100%;
        font-size: 22px;
        line-height: 33px;
        @extend %mont-light;
        transition: .5s ease-in-out;
        margin-right: 15px;
    }

    .item-text__second{
        max-width: 272px;
        width: 100%;
    }

    &__item-icon {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        transition: .5s ease-in-out;
        flex-shrink: 0;
    }

    &__item-arrow {
        fill: #000;
    }
}


//--------------------------------------------------------------------------
//END-----------------PREVIEW-----------------------------------------------
//--------------------------------------------------------------------------


//--------------------------------------------------------------------------
//START-----------------CALCULATOR------------------------------------------
//--------------------------------------------------------------------------

.calculator {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 180px;
    position: relative;

    &::before {
        content: url(../images/stickers/calculator-bg.png);
        position: absolute;
        right: 0;
        bottom: -180px;
        z-index: -1;
    }

    &::after {
        // content: url(../images/stickers/calculator-bg-2.png);
        content: '';
        width: 364px;
        height: 427px;
        background-image: url(../images/stickers/calculator-bg-2.png);
        background-repeat: no-repeat;
        background-position: center left;
        background-size: cover;
        position: absolute;
        top: 10px;
        right: 0px;
    }

    &__text {
        max-width: 650px;
        margin: 0 auto;
        position: relative;
        @extend %mont-regular;
        font-size: 17px;
        line-height: 25px;
        color: #FEFEFE;

        &::before {
            content: url(../images/stickers/calculator-text-bg.png);
            width: 895px;
            position: absolute;
            top: 15px;
            margin: 0 auto;
            left: -110px;
            z-index: -1;
        }

        padding: 44px 0 107px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__box-left {
        max-width: 436px;
        width: 100%;
        text-align-last: left;
    }

    &__select-items {
        background-color: transparent;
        color: #fff;
        border: none;
        font-size: 17px;
        line-height: 28px;
        outline: none;
    }

    &__select-item {
        color: #000;
    }

    &__stickers {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 1px solid rgba(255, 255, 255, 0.34);
        border-radius: 5px;
        padding: 30px 42px 0px 73px;
        margin-top: 64px;

    }

    &__stickers-item {
        margin-bottom: 22px;
        width: 25%;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 0;
    }

    &__stickers-main {
        cursor: pointer;
    }

    &__main-img {
        transition: .5s;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__stickers-box {
        width: 293px;
        display: none;
        position: absolute;
        top: -72px;
        left: 41px;
    }

    &__stickers-inner {
        display: flex;
        justify-content: space-between;
        padding: 9px 26px;
        border-radius: 5px;
        background-color: #D1D1D1;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: -20px;
            left: 0;
            width: 0;
            height: 0;
            border-bottom-left-radius: 5px;
            border-top: 25px solid #D1D1D1;
            border-right: 25px solid transparent;
        }
    }

    &__stickers-color {
        cursor: pointer;

        img {
            transition: .5s;
        }

        &:hover {
            img {
                transform: scale(1.2);
            }

        }
    }

    &__stickers-color+&__stickers-color {
        margin-left: 7px;
    }


    .calculator__stickers-item.stickers-item--active {
        z-index: 1;

        .calculator__stickers-box {
            display: block;
        }

        .calculator__stickers-item {
            z-index: 2;
        }

        .calculator__main-img {
            transform: scale(1.2);
        }
    }

    .block-stick {
        position: absolute;
        top: -5px;
        z-index: 1;

        img {
            opacity: 1 !important;
        }
    }

    .result__item-style {
        width: 60px;
        height: 60px;
        border: 1px solid red;
        background-color: skyblue;
    }



    &__result {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__result-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &+.calculator__result-item {
            margin-top: 26px;
        }
    }


    &__result-stickers {
        border: 1px solid rgba(255, 255, 255, 0.34);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    &__result-stick {
        background-image: url(../images/stickers/sticker-owerlay-scull.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 65px;
        height: 70px;
        position: relative;

        &.result-stick--active {
            background-image: none;
        }

        img {
            width: 70px;
            transition: .5s;


        }

        &:hover {
            img {
                transform: scale(1.2);
            }

            img+.calculator__result-del {
                display: block;
            }
        }

        &+.calculator__result-stick {
            margin-left: 15px;
        }
    }

    &__result-del {
        position: absolute;
        top: -20px;
        right: 4px;
        // border: 1px solid red;
        // background-color: red;
        width: 20px;
        height: 20px;
        display: none;
        cursor: pointer;
        z-index: 10000;

        // pointer-events: auto;
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            width: 20px;
            height: 3px;
            background-color: red;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    .calculator__result-stick.result-stick--active {
        &:hover {
            .calculator__result-del {
                display: block;
            }
        }
    }

    &__result-buttons {
        display: none;
    }

    &__result-inner {
        display: flex;
        width: 111px;
        justify-content: space-between;
        margin-left: 15px;
    }

    &__result-btn {
        width: 50px;
        height: 50px;
        background-color: #04CFFE;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s;
        cursor: pointer;
        z-index: 1;

        img {
            z-index: 0;
        }

        &:hover {
            background-color: #FF0076;
        }
    }

    &__price {
        display: inline-block;
    }

    &__price-item {
        position: relative;
        z-index: 1;
        font-size: 30px;
        line-height: 36px;
        color: #FFFFFF;
        margin-top: 42px;

        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            width: 307px;
            height: 82px;
            background-image: url(../images/stickers/price-bg.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            top: -24px;
            left: -20px;
            z-index: -1;
        }
    }

    &__price-btn {
        font-size: 18px;
        line-height: 22px;
        padding: 30px 61px;
        border: 1px solid #fff;
        background-color: transparent;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        margin-top: 40px;
        color: #fff;
        cursor: pointer;

    }
}





//--------------------------------------------------------------------------
//END-----------------CALCULATOR--------------------------------------------
//--------------------------------------------------------------------------



//--------------------------------------------------------------------------
//START-----------------DELIVERY--------------------------------------------
//--------------------------------------------------------------------------

.delivery {
    text-align: center;
    position: relative;
    z-index: 1;

    &__title {
        margin-bottom: 38px;
    }

    &__text {
        max-width: 850px;
        margin: 0 auto 106px;
        color: #C4C4C4;
        line-height: 25px;
        @extend %mont-regular;
        font-size: 17px;
        color: #C4C4C4;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    &__wrapper-title {
        @extend %mont-semiBold;
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 20px;
    }

    &__wrapper-text {
        color: #C4C4C4;
        margin-bottom: 25px;
        color: #C4C4C4;
        font-size: 17px;
        @extend %mont-regular;
    }

    &__city {
        max-width: 630px;

    }

    &__region {
        max-width: 490px;
    }

    &__region-subtext {
        margin-bottom: 20px;
    }

    &__price {
        @extend %mont-semiBold;
        font-size: 19px;
        line-height: 28px;
    }

    &__region-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 31px;
    }

    &__payment {
        padding-top: 92px;
    }

    &__payment-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 41px;
    }

    &__payment-box {
        display: flex;
        justify-content: space-between;
        max-width: 890px;
        margin: 0 auto 61px;
    }

    &__payment-text {
        padding: 62px 43px;
        max-width: 970px;
        text-align: center;
        margin: 0 auto;
        border: 1px solid rgba(255, 255, 255, 0.34);
        border-radius: 5px;
    }
}


//--------------------------------------------------------------------------
//END-----------------DELIVERY----------------------------------------------
//--------------------------------------------------------------------------

//--------------------------------------------------------------------------
//START---------------CONTACTS----------------------------------------------
//--------------------------------------------------------------------------

.contacts {
    padding-top: 146px;
    position: relative;
    z-index: 1;

    &__title {
        margin-bottom: 65px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        text-align-last: left;
    }

    &__wrapper-box {
        max-width: 920px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__wrapper-title {
        font-size: 24px;
        line-height: 36px;
        font-weight: 600;
        margin-bottom: 8px;
    }

    &__wrapper-mail {
        margin-top: 22px;
    }

    &__box {
        max-width: 515px;
        width: 100%;
    }

    &__phone-link,
    &__mail-link,
    &__box-text,
    &__messangers-link {
        font-size: 19px;
        line-height: 28px;
    }

    &__phone-link,
    &__mail-link,
    &__messangers-link {
        transition: .5s;

        &:hover {
            color: #04CFFE;
        }
    }

    &__img {
        width: 200px;
    }

    &__messangers {
        margin-top: 44px;
        max-width: 557px;
        display: flex;
        justify-content: space-between;
    }

}


//--------------------------------------------------------------------------
//END-----------------CONTACTS----------------------------------------------
//--------------------------------------------------------------------------


//--------------------------------------------------------------------------
//START--------------------BOX----------------------------------------------
//--------------------------------------------------------------------------

.box {
    position: fixed;
    bottom: 100px;
    right: 80px;
    // border: 1px solid red;

    &__wrapper {
        transition: .5s ease-in-out;
        height: 53px;
    }

    &__main {
        width: 53px;
        height: 53px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: .5s;
        margin-bottom: 8px;
        z-index: 1;

        &:hover {
            background-color: #3FFFFF;
        }
    }

    &__items {
        height: 0;
        overflow: hidden;
        transition: .5s;
    }

    &__items-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item {
        line-height: 0;
        opacity: 0;

        &+& {
            margin-top: 17px;
        }
    }

    &__item-link {
        line-height: 0;
    }

    &__item-img {
        fill: #fff;
        transition: .5s;

        &:hover {
            fill: #3FFFFF;
        }
    }

    &__main.box__main--active {
        background-color: #3FFFFF;
    }


    &.box--active {
        .box {
            &__wrapper {
                height: 230px;
            }

            &__items {
                height: 163px;
            }

            &__item-first {
                animation: showBoxItem 1s;
                animation-delay: .5s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;

            }

            &__item-second {
                animation: showBoxItem 1s;
                animation-delay: .75s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
            }

            &__item-third {
                animation: showBoxItem 1s;
                animation-delay: 1s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
            }
        }

    }
}

//--------------------------------------------------------------------------
//END----------------------BOX----------------------------------------------
//--------------------------------------------------------------------------

//--------------------------------------------------------------------------
//START-----------------FOOTER----------------------------------------------
//--------------------------------------------------------------------------

.footer {
    padding-top: 70px;
    position: relative;

    &__bg {
        position: absolute;
        z-index: 0;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;

        line-height: 0;

        img {
            width: 100%;
            height: 100%;

        }
    }

    &__wrapper {
        background-color: rgba(0, 0, 0, 0.46);
        position: relative;
        z-index: 1;
        padding: 16px 0 8px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        align-self: center;
        max-width: 670px;
    }


    &__item-second {
        text-align: right;
    }

    &__text {
        max-width: 185px;
    }
}


//--------------------------------------------------------------------------
//END-------------------FOOTER----------------------------------------------
//--------------------------------------------------------------------------


@import 'media';