%maler-main{
    font-family: 'Maler';
    font-weight: 400;
}

%clother-bold{
    font-family: 'Try Clother';
    font-weight: 900;
}

%mont-bold{
    font-family: 'Montserrat Bold';
    font-weight: 700;
}

%mont-light{
    font-family: 'Montserrat Light';
    font-weight: 300;
}

%mont-medium{
    font-family: 'Montserrat Medium';
    font-weight: 500;
}

%mont-regular{
    font-family: 'Montserrat Regular';
    font-weight: 400;
}

%mont-semiBold{
    font-family: 'Montserrat SemiBold';
    font-weight: 600;
}